<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{Document_Title}}</title>
	<link rel="stylesheet" href="../static/sass/style.css">
</head>
<body>
	<div class="flex" id="flex">
		<span>Acortador de url</span>
		<form action="/information" method="post">
			<input type="text" placeholder="Url" required autocomplete="off" name="url" id="url">
			<button type="submit">Acortar</button>
		</form>
	</div>
</body>
</html>